.update-price-record {
    width: 100%;
    display: flex;
    gap: 4px;
    margin-bottom: 4px;
}

.update-price-record .name {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.update-price-record .name input {
    width: 100%;
    padding: 0 4px;
}

.update-price-record .price {
    display: flex;
    align-items: center;
    flex: 0 0 60px;
}

.update-price-record .price input[type=number] {
    width: 100%;
    padding: 0 4px;
    text-align: right;
    -moz-appearance: textfield;;
}


.update-price-record .price input::-webkit-outer-spin-button, .update-price-record .price input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
