.order_button {
	height: 24px;
	display: flex;
	gap: 2px;

	.arrow_up,
	.arrow_down {
		display: flex;
		align-items: center;
		padding: 0 3px;
		opacity: 0.5;
		cursor: pointer;
		overflow: hidden;

		&:hover,
		&:focus {
			opacity: 1;
		}
	}

	.arrow_up_placeholder,
	.arrow_down_placeholder {
		display: flex;
		width: 26px;
		padding: 0;
	}
}
