/**
 * The following styles get applied inside the editor only.
 */

.wp-block-price-list-block-zebra-price-list-block-zebra {
	display: block;
	border: 4px solid white;
	border-radius: 0.5rem;
	background: white;
	color: black;
}
