.name {
	display: flex;
	align-items: center;
	flex: 1 1 auto;

	input {
		height: 24px;
		min-height: 24px;
		width: 100%;
		padding: 0 4px;

		&:disabled {
			background: #666;
			color: #ddd;
		}
	}

	span {
		height: 24px;
		font-size: 14px;
		padding: 0 4px;
		width: 100%;
	}
}
