/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-price-list-block-zebra-price-list-block-zebra {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}
