/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-price-list-block-zebra-price-list-block-zebra {
	background-color: transparent;


	.record-row {
		display: flex;
		align-items: flex-end;
		margin-bottom: 0.5em;
		.name {
			display: flex;
			flex-wrap: wrap;
			flex: 1 1 auto;
			align-items: flex-end;
			line-height: 1;
			.last-word {
				margin-right: 0.25em;
			}
			.spacer {
				flex: 1 0 auto;
				border-bottom-width: 1px;
				border-bottom-style: dashed;
			}
		}
		.price {
			margin-left: 0.25em;
			flex: 0 0 auto;
			line-height: 1;
		}
	}

	
}